<main id="swup" class="transition-fade">
   <div class="home ">
                 <video muted autoplay preload="auto" poster="{{ asset('img/imganim.jpg') }}" id="background" > 
                   
                 </video> 

                <div class="home-content  ">
                        <h1>Auberge de la Démo</h1>
                    <div class="middle-line"></div>
                    <div class="text-center">
                    <a role="button" href="" class=" btn btn-outline-light ">CONSULTER LA CARTE</a>
                         <button type="button" href="{{path('home')}}" >CONSULLTER LA CARTE</button> 
                    </div>
                    
                </div>
                
    </div>
    </main>