{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
    <nav>
        <ul>
        <li><a href="/index.html">accueil</a></li>
        <li><a href="/services.html">services</a></li>
        </ul>
    </nav>
    <main id="swup" class="transition-fade">
        <h1>Nos Services</h1>

        <p class="transition-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae suscipit eligendi, quod voluptatum eaque tenetur sint. Tenetur alias ipsam repellendus itaque quasi beatae rem, vitae, aut temporibus quam quis dolore nesciunt? Magni libero esse optio ullam quo voluptates quidem quia.</p><br/>
        <p class="transition-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae suscipit eligendi, quod voluptatum eaque tenetur sint. Tenetur alias ipsam repellendus itaque quasi beatae rem, vitae, aut temporibus quam quis dolore nesciunt? Magni libero esse optio ullam quo voluptates quidem quia.</p>
    </main>
{% endblock %}
